/* risque-regular - latin */
@font-face {
  font-family: 'Risque';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/risque-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/risque-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  font-family: 'Risque';
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  background: #141429;
  }
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  max-width: 530px;
  margin: 0 auto;
  padding: 0 15px;
}
